@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}


    <div class="error_page" style="padding-top: 5%;text-align:center">
        <img alt="Kidmondo_face_sad" src="../Images/Error_face_sad.gif" />
    <h1>We're sorry...</h1>
    <p>The page you are looking for cannot be found.</p>
    <p><a href="~/Home/Index">Return to the homepage</a></p>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
    img {
        width: 25%;
        height: auto;
    }
</style>
