@{
    ViewBag.Title = "View Certificate";
}
@{
    int roleID = 0;
    var userid = Session["UserID"];
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";

            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}
<link rel="stylesheet" href="~/Content/assets/css/font-awesome.css" />
<link rel="stylesheet" href="~/Content/assets/css/jquery-ui.css" />
<link rel="stylesheet" href="~/Content/assets/css/ui.jqgrid.css" />
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<script type="text/javascript">
    window.jQuery || document.write("<script type='text/javascript' src='~/Content/assets/js/jquery.js'>" + "<" + "/script>");
</script>

<script src="~/Content/assets/js/date-time/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/jqGrid/jquery.jqGrid.src.js"></script>
<script src="~/Content/assets/js/jqGrid/i18n/grid.locale-en.js"></script>


<div @*class="main-container"*@ id="main-container">
    <div class="breadcrumbs breadCrumbAlign breadCrumbWd" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Home/Dashboard">Home</a>
            </li>
            <li> <a href="/Certification/ViewCertificate">Certificate</a></li>
            <li class="active">View</li>
        </ul>
    </div>
    <section class="main-content">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class=" box_style_2">
                        <div class="page-header">
                            <h1>
                                Certificate
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    View Certificate(s)
                                </small>
                            </h1>
                        </div>
                        <div class="page-content pagecs" id="JQGridId">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="grid-table"></table>
                                    <div id="grid-pager"></div>
                                    <script type="text/javascript">
                                        var $path_base = "..";//in Ace demo this will be used for editurl parameter
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="ViewEvidenceModel" role="dialog">
    <div class="modal-dialog modal-sm" style="width:480px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Evidence Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>First Name:</b></label>
                            <label id="FirstNmTxt" name="firstName" />
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Last Name:</b></label>
                            <label id="LastNaTxt" name="lastName" />
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Address:</b></label>
                            <label id="AddressTxt" name="address" />
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Profile Image:</b></label>
                            <a href="#" id="ImageFile" name="ImageFile" target="_blank">Download Profile Image</a>
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Evidence Type:</b></label>
                            <label id="EvidenceDDL" name="evidenceDDL"></label>
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Evidence Number:</b></label>
                            <label id="EvidenceNumberTxt" name="evidenceNo" />
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Evidence Image:</b></label>
                            <a href="#" id="EvidenceFile" name="EvidenceFile" target="_blank">Download Evidence Image</a>
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Evidence Issue Date:</b></label>
                            <label id="EvidenceIssueDateTxt" name="issueDate" />
                        </div>
                        <div class="row">
                            <label class="col-sm-5 control-label no-padding-top"><b>Evidence Expiry Date:</b></label>
                            <label id="EvidenceExpiryDateTxt" name="expiryDate" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetStudentCertification();
    });

    function GetStudentCertification() {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";
        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
        })
        //resize on sidebar collapse/expand
        var parent_column = $(grid_selector).closest('[class*="col-"]');
        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function () {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }, 0);
            }
        })
        $(grid_selector).jqGrid('GridUnload');
        $('.ui-jqdialog').remove();
        jQuery(grid_selector).jqGrid({
            url: "/Certification/GetStudentCertification",
            datatype: "json",
            loadonce: true,
            colNames: ['Name', 'Email', 'Course Name', 'CertificateID', 'CourseID', 'Date', 'View Certificate', 'View Evidence'],
            colModel: [
            { name: 'FullName', index: 'FullName' },
            { name: 'Email', index: 'Email', width: 120, sortable: true, sorttype: 'text' },
            { name: 'CourseName', index: 'CourseName', width: 120, sortable: true, sorttype: 'text' },
            { name: 'CertificationID', index: 'CertificationID', hidden: true },
            { name: 'CourseID', index: 'CourseID', hidden: true },
            { name: 'IssuedDateString', index: 'IssuedDateString', width: 150, sortable: true, sorttype: 'date' },
            { name: 'ViewDetails', index: 'ViewDetails', sortable: false, formatter: ViewDetailsButton },
            { name: 'ViewEvidence', index: 'ViewEvidence', sortable: false, formatter: ViewEvidenceButton }
            ],
            sortable: true,
            viewrecords: true,
            height: 250,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            multiboxonly: true,
            caption: "Students Certificates",
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            }
        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size


        //switch element when editing inline
        function aceSwitch(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=checkbox]')
                .addClass('ace ace-switch ace-switch-5')
                .after('<span class="lbl"></span>');
            }, 0);
        }
        //enable datepicker
        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                .datepicker({ format: 'yyyy-mm-dd', autoclose: true });
            }, 0);
        }
        function ViewDetailsButton(cellvalue, options, rowObject) {
            var Id = rowObject.Id;
            var path = rowObject.CertificatePath;
            if (path != "") {
                var enable = '<a href="' + path + '" target="_blank" id="' + Id + '"class="btn btn-success ViewDetails" style="width: 130px;margin-left: 4px;">View Certificate</a>';
            } else {
                var enable = "file is not exits";
            }
            return "<div style='display:flex;'>" + enable + "</div>";
        }
        function ViewEvidenceButton(cellvalue, options, rowObject) {
            var certId = rowObject.Id;
            var courseId = rowObject.CourseID;
            var enable = "";
            $.ajax({
                type: "POST",
                async: false,
                data: JSON.stringify({ "certificateId": certId, "courseId": courseId }),
                contentType: 'application/json; charset=utf-8',
                url: "/Certification/CheckEvidence",
                success: function (response) {
                    if (response == true) {
                        enable = '<a href="#" id="ViewButton"class="btn btn-success ViewEvidence" style="width: 130px;margin-left: 4px;" onclick=ViewEvidenceDetails(' + certId + ',' + courseId + ')>View Evidence</a>';
                    }
                },
                error: function (response) {
                }
            });
            return "<div style='display:flex;'>" + enable + "</div>";
        }
        //navButtons
        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
        { //navbar options
            edit: false,
            editicon: 'ace-icon fa fa-pencil blue',
            add: false,
            addicon: 'ace-icon fa fa-plus-circle purple',
            del: false,
            delicon: 'ace-icon fa fa-trash-o red',
            search: true,
            searchicon: 'ace-icon fa fa-search orange',
            refresh: true,
            refreshicon: 'ace-icon fa fa-refresh green',
            view: false,
            viewicon: 'ace-icon fa fa-search-plus grey',
        },
        {
            //edit record form
            //closeAfterEdit: true,
            //width: 700,
            recreateForm: true,
            beforeShowForm: function (e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }
        },
        {
            //new record form
            //width: 700,
            closeAfterAdd: true,
            recreateForm: true,
            viewPagerButtons: false,
            beforeShowForm: function (e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                .wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }
        },
        {
            //delete record form
            recreateForm: true,
            beforeShowForm: function (e) {
                var form = $(e[0]);
                if (form.data('styled')) return false;
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);
                form.data('styled', true);
            },
            onClick: function (e) {
                //alert(1);
            }
        },
        {
            //search form
            recreateForm: true,
            afterShowSearch: function (e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                style_search_form(form);
            },
            afterRedraw: function () {
                style_search_filters($(this));
            }
        ,
            multipleSearch: true,
            /**
            multipleGroup:true,
            showQuery: true
            */
        },
        {
            //view record form
            recreateForm: true,
            beforeShowForm: function (e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
            }
        }
        )

        function HideColumn(colPosition) {
            // Position of the name column
            var colPos = colPosition;
            //tushar code
            var myGrid = $('#grid-table');
            myGrid.jqGrid('hideCol', myGrid.getGridParam("colModel")[colPos].name);
            //prashant code for dispyaing grid full
            width = myGrid.jqGrid('getGridParam', 'width'); // get current width
            width = 1033;
            myGrid.jqGrid('setGridWidth', width, true);
        }
        function style_edit_form(form) {
            //enable datepicker on "sdate" field and switches for "stock" field
            form.find('input[name=sdate]').datepicker({ format: 'yyyy-mm-dd', autoclose: true })
            form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
            //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

            //update buttons classes
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')
            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
        }
        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
            buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
        }
        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }
        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
        }
        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if (form.data('styled')) return false;
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);
            form.data('styled', true);
        }
        function beforeEditCallback(e) {
            var form = $(e[0]);
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_edit_form(form);
        }


        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
            /**
            $(table).find('input:checkbox').addClass('ace')
            .wrap('<label />')
            .after('<span class="lbl align-top" />')
            　
            $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
            .find('input.cbox[type=checkbox]').addClass('ace')
            .wrap('<label />').after('<span class="lbl align-top" />');
            */
        }

        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want
        function updateActionIcons(table) {
            /**
            var replacement =
            {
            'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
            'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
            'ui-icon-disk' : 'ace-icon fa fa-check green',
            'ui-icon-cancel' : 'ace-icon fa fa-times red'
            };
            $(table).find('.ui-pg-div span.ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
            })
            */
        }
        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({ container: 'body' });
            $(table).find('.ui-pg-div').tooltip({ container: 'body' });
        }
        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
        $(document).one('ajaxloadstart.page', function (e) {
            $(grid_selector).jqGrid('GridUnload');
            $('.ui-jqdialog').remove();
        });
        function Getdate(datetime) {
            if (datetime != null) {
                var dateString = datetime.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "/" + month + "/" + year;
                return date;
            }
            else {
                return "";
            }
        }
    }

    function ViewEvidenceDetails(certId, courseId) {
        $.ajax({
            type: "POST",
            async: false,
            data: JSON.stringify({ "certificateId": certId, "courseId": courseId }),
            contentType: 'application/json; charset=utf-8',
            url: "/Certification/GetEvidenceDetails",
            success: function (response) {
                if (response != null) {
                    var data = JSON.parse(response);
                    $('#FirstNmTxt')[0].innerText = data.FirstName;
                    $('#LastNaTxt')[0].innerText = data.LastName;
                    $('#AddressTxt')[0].innerText = data.Address;
                    $('#EvidenceDDL')[0].innerText = data.EvidenceType;
                    $('#EvidenceIssueDateTxt')[0].innerText = data.IssueDate
                    $('#EvidenceFile')[0].href = data.EvidenceUrl;
                    $('#ImageFile')[0].href = data.ProfileUrl;
                    $('#EvidenceNumberTxt')[0].innerText = data.EvidenceNo;
                    $('#EvidenceExpiryDateTxt')[0].innerText = data.ExpiryDate;
                }
            },
            error: function (response) {
            }
        });
        $("#ViewEvidenceModel").modal("show");
    }
</script>


