@using Microsoft.AspNet.Identity.Owin;
@{
    var userName = Session["UserName"];
    var userid = Session["UserID"];
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
}

    <header class="header clearfix">
        <div class="container">
            <nav class="yamm navbar navbar-default">
                <div class="navbar-header" style="margin-top:-24px;">             
                    <a class="navbar-brand" href="index.html"><img src="~/coursat/images/edulogo.jpg" style="width: 110px;margin-top:10px;" alt=""></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Courses", "AllCourses", "Course")</li>
                        <li class="dropdown megamenu">
                            <a href="/Home/massive-open-online-courses-India" class="dropdown-toggle" data-toggle="dropdown" id="AboutUsId">About Us</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row-fluid">
                                            <div class="col-md-3 col-sm-6 col-xs-12 firstcolumn">
                                                <ul class="box">
                                                    <li><a href="/PressRelease/Press">Press Release</a></li>
                                                    <li><a href="~/Career/Career">Career</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>             
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li class="dropdown megamenu active yamm-fw">
                        @if (userName == null)
                        {
                            <a href="/Account/Login">Login</a>
                        }
                        else
                        {
                            @*<label class="lblUserName ">Welcome! @userName</label>*@
                            @Html.RouteLink("LOGOUT", new { action = "LoginOut", controller = "UserRegister" }, new { id = "logoutBtn" })
                        }
                        </li>
                        <li class="noborder">
                            <div id="dmsearch" class="dmsearch">
                                <form id="search-form" action="#" method="get">
                                    <div class="dm-search-container">
                                        <input id="search" class="dmsearch-input" type="text" name="s" value="" placeholder="Search">
                                    </div>
                                    <input id="CourseID" class="dmsearch-submit" type="submit" value="">
                                    <span class="fa fa-search"></span>
                                </form> <!-- end searchform -->
                            </div><!-- end search -->
                        </li>
                   
                    </ul>
                </div><!--/.nav-collapse -->
            </nav><!-- end nav -->
        </div><!-- end container -->
    </header><!-- end header -->

    <script type="text/javascript">

    var currentCourses = '';
    var cartName = "CourseDetails";
    function ActivateCouponEnterClickEvent(e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            ActivateCoupon();
        }
    }
    $(document).ready(function () {
        
        $(".couponTextChange").change(function () {
            var couponCode = $('#actCoupontxt')[0].value;
            if (couponCode == "") {
                localStorage.CouponCode = null;
            }
        });

        $('#AboutUsId').addClass("sf-with-ul");

        var cartCount = 0;
        var uId = '@userid';
        if ($('#cartItemCount').length > 0) {
            if (cartCount == "Nan") {
                cartCount = 0;
            }
            $('#cartItemCount')[0].innerHTML = "My Cart (" + cartCount + ")";

        }
        if (window.localStorage[cartName] != null || window.localStorage[cartName] != undefined) {
            currentCourses = JSON.parse(window.localStorage[cartName]);
        }
        if ($('#cartItemCount').length > 0) {
            for (var i = 0; i < currentCourses.length; i++) {
                if (currentCourses[i].CourseUserId == uId) {
                    var count = 0;
                    count = currentCourses.length;
                    cartCount = cartCount + 1;
                    if (cartCount == "Nan") {
                        cartCount = 0;
                    }
                    $('#CartCount').val(cartCount);
                    $('#cartItemCount')[0].innerHTML = "My Cart (" + cartCount + ")";
                    $('#Cart').css("display", "block");
                }
            }
        }
    });
    function ActivateCoupon() {
        var couponCode = $('#actCoupontxt')[0].value;
        if (couponCode != "") {
            localStorage.CouponCode = couponCode.trim();
            window.location.href = "/Account/Login";
        }
        else {

            bootbox.dialog({
                message: "Please enter the coupon code",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }
    }
    </script>






