
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/learn/css/color_scheme.css" rel="stylesheet" />*@

<section id="login_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" style=" margin-top: 5%; margin-bottom: 5%;">
                <div id="login">
                    <p class="text-center">
                        <img src="~/Content/learn/img/login_logo.png" />
                    </p>
                    <hr>
                    
                        <div class="login-or"><hr class="hr-or"><span class="span-or">or</span></div>
                        <div class="form-group">
                            <input id="UserLoginName" type="text" class=" form-control " placeholder="Email-Id">
                            <span class="input-icon"><i class=" icon-user"></i></span>
                        </div>
                        <div class="form-group marginloginpwdTxt">
                            <input id="UserPaddword" type="password" class=" form-control" placeholder="Password">
                            <span class="input-icon"><i class="icon-lock"></i></span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

