@{
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var msg = ViewBag.message;
    var pressData = ViewBag.PressData;
    var PressHeading = ViewBag.PressPageHeading;
}
<script type="text/javascript" src="~/Content/assets/js/slider/jssor.slider.mini.js"></script>


@*<link rel="shortcut icon" href="Content/learn/img/favicon.ico" type="image/x-icon" />*@
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">


@*<link rel="icon" href="Content/learn/img/favicon.ico" type="image/x-icon">*@
@*<link href="~/PressContents/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/PressContents/css/superfish.css" rel="stylesheet" />
<link href="~/PressContents/css/style.css" rel="stylesheet" />
<link href="~/PressContents/Content/learn/fontello/css/fontello.css" rel="stylesheet" />
<link href="~/PressContents/Content/learn/css/color_scheme.css" rel="stylesheet" />
<link href="~/PressContents/Content/Custom/CustomStyle.css" rel="stylesheet" />
<link href="~/PressContents/css/font-awesome.css" rel="stylesheet" />
<link href="~/PressContents/main.css" rel="stylesheet" />*@


@*<section id="contactus_area">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Contact Us</h2>
            <div class="col-md-8">
                <p class="text-justify" style="color:#eee;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <p class="text-justify" style="color:#eee;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-4">
                <h3 style="color:#eee;">Address</h3>
                <p style="color:#eee;">+91 9890122592<br>support@millionlights.org</p>
            </div>
        </div>
    </div>
</section>*@

<section id="blog_parallax" class="section-white page-title-wrapper" data-stellar-background-ratio="1" data-stellar-offset-parent="true">
    <div class="container">
        <div class="relative">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                            <img src="~/coursat/upload/fit_economy1.jpg" style="width:100%;height:100%;" alt="fullslide1" data-bgposition="center top" >
                    </div><!-- end title -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end relative -->
    </div><!-- end container -->
</section><!-- end section-white -->
<section class="section-white">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-8 col-sm-12 pull-right">

                <div class="blog-entry">
                    <div class="blog-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="blog-desc" >
                        <p style="margin-top: 10px;">EduNetworks is an independent training firm with more than 4 years of experience in the fields of management and human resources. Since 2008, we have been successfully providing our clients with business and professional solutions, as well as expertise in the organization, management and development of human resources</p>
                        <p>EduNetworks offers an impressive range of training, consulting and research services. Our experienced multilingual consultants provide these services to a large number of organizations, both private and public. We pride ourselves on our track record and long-standing relationships with our clients, many of whom have been with us since we started business. </p>
                        <p>Our training programs have attracted more than 5000 participants from around 1,800 organizations, and our client base is steadily growing. EduNetworks has established itself as a leader in the field of organization and human resources consulting. Our experienced professionals have successfully completed consulting assignments and research studies in these fields for most of the major organizations in the region.</p>
                    </div><!-- end blog-desc -->
                </div><!-- end blog -->                               
            </div><!-- end content -->
            <div id="sidebar" class="col-md-4 col-sm-12 pull-left">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Our Mission</h4>
                    </div><!-- end widget-title -->
                    <div class="cat-widget">
                            <p><b>Building on 4 years of experience, we continue to be the preferred choice for training and consulting services by:</b></p>
                            <p>Commit to the highest professional standards of quality, operational excellence and integrity.
</p>
                            <p>Rely on full-time, multi-lingual consultants who have international work experience coupled with in-depth cross-cultural and industry-specific knowledge of the region.</p>
                            <p>Provide innovative and practical solutions to our valued clients, based on best practices and current research.
</p>
                            <p>Depend on loyal and hard working personnel who are competent, highly motivated and committed to their own development.
</p>
                            <p>Utilize the latest and most effective technology in our pursuit of innovation and continuous improvement.
</p>
                    <p>Maintain a healthy return on our shareholders investment in pursuit of growth, community service and added value to our clients.
</p>
              
                    </div><!-- end latest-course -->
                </div><!-- end widget -->
                
                
                                
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section-white -->





@*<section id="press_releases_area">
    <div class="container">
        <h2 class="text-center">Press Releases</h2>
        <div class="row">
            <div class="col-md-3">
                <a href="Press_Content">
                    <div class="single_releases">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <p class="date">PDF - 30 jan 2015</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="Press_Content">
                    <div class="single_releases">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <p class="date">PDF - 22 march 2015</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="Press_Content">
                    <div class="single_releases">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <p class="date">PDF - 11 Apri 2015</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="Press_Content">
                    <div class="single_releases">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
                        <p class="date">PDF - 26 may 2015</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@


