
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta charset="utf-8">
    <title>Home Page Million Lights</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--<link rel="icon" href="Content/learn/img/favicon.ico" type="image/x-icon">-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/superfish.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="Content/learn/fontello/css/fontello.css" rel="stylesheet">
    <link href="Content/learn/css/color_scheme.css" rel="stylesheet">
    <link href="Content/Custom/CustomStyle.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body>
<div id="MainHeaderId">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="Home/Index.html" id="logo"></a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class=" pull-right" id="log">
                        <input type="text" placeholder="Activate Coupon" class="actCoupontxt hidden-xs " id="actCoupontxt" onkeypress="ActivateCouponEnterClickEvent(event)"/>
                        <a class="actCoupon hidden-xs " id="apply" onclick="ActivateCoupon();">Activate</a>
                        <a id="login_top" href="Account/Login.html" class="button_top btnsignin signInbtn">Sign in</a>
                        <a class="button_top btnSignin signUpBg btnsignUp hidden-xs" href="UserRegister/UserRegister.html">Sign Up</a>                    
                    </div>
                </div>
            </div>
        </div>
    </header><!-- End header -->
    

    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="min-height:0px !important;">
                    <div id="mobnav-btn"></div>
                    <input type="hidden" id="CartCount" name="CartCount" />
                    <ul class="sf-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Course/AllCourses">Courses</a></li>
                        <li><a href="Home/massive-open-online-courses-India">About Us</a></li>

                        
                        <li><a href="http://blog.millionlights.org/" target="_blank">Blog</a></li>
                        <li><a href="Home/Contact.html">Contact Us</a></li>
                        <li><a href="MobileApp/index.html">Mobile Tab</a></li>
                    </ul>

                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </nav><!-- End header -->
    
</div><!-- Modal HTML -->





<section id="press-content-area-1" style="background-color:#d35400;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span>Release Date : </span> 30 jan 2015</p>
                <h3>Press Release 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>

<section id="press-content-area-2" style="background-color:#bdc3c7;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span>Release Date : </span> 22 march 2015</p>
                <h3>Press Release 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>

<section id="press-content-area-3" style="background-color:#d35400;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span>Release Date : </span> 11 Apri 2015</p>
                <h3>Press Release 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>

<section id="press-content-area-4" style="background-color:#bdc3c7;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span>Release Date : </span> 26 may 2015</p>
                <h3>Press Release 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>DIDN'T FIND WHAT YOU WERE LOOKING FOR?</h3>
                        <div id="message-newsletter">
                        </div>
                        <form method="post" name="newsletter" id="newsletter" class="form-inline">
                            <div class="col-sm-12">
                                <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control newsCss ">
                                <button id="submit-newsletter" type="button" class="button_medium" style="background-color: #008278 !important" onclick="CustomersQuery()">
                                    <i class="bigger-110"></i>
                                    Send Email
                                </button>
                            </div>
                            <div class="col-sm-12">
                                <img src="img/footer-logo.png" style="width:190px;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container" id="nav-footer">
                <div class="row text-left">
                    <div class="col-md-3 col-sm-3">
                        <h4>Browse</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="Course/AllCourses">Courses</a></li>
                            <li><a href="http://blog.millionlights.org/" target="_blank">Blog</a></li>
                            <li><a href="Home/Contact.html">Contact Us</a></li>
                            <li><a href="Home/MLPrivacyPolicies.html">Privacy Policy</a></li>
                            <li><a href="Home/HonorCode.html">Honour Code</a></li>
                            <li><a href="Home/UserFeedback.html">Feedback</a></li>

                        </ul>
                    </div><!-- End col-md-4 -->
                    <!-- End col-md-4 -->
                    <div class="col-md-3 col-sm-3">
                        <h4>About Million Lights</h4>
                        <ul>
                            <li><a href="Home/massive-open-online-courses-India">About Us</a></li>
                            <li><a href="http://blog.millionlights.org/" target="_blank">Blog</a></li>
                            <li><a href="Home/Career.html">Career</a></li>
                            <li><a href="Home/FAQ.html">FAQ</a></li>
                            <li><a href="MobileApp/index.html">Mobile Tab</a></li>
                        </ul>
                    </div><!-- End col-md-4 -->
                    <div class="col-md-3 col-sm-3">
                        <ul id="follow_us">
                            <li><a href="https://www.facebook.com/millionlights" target="_blank"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Million_Lights1" target="_blank"><i class="icon-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+MillionlightsOrg" target="_blank"><i class=" icon-google"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/millionlights" target="_blank"><i class="icon-linkedin"></i></a></li>
                            <li><a href="https://www.pinterest.com/million_lights" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
                        </ul>

                    </div><!-- End col-md-4 -->
                    <div class="col-md-3 col-sm-3" id="edxFooterLogo">
                        <a href="https://open.edx.org/" target="_blank"><img src="img/footer-logo-1.png" /></a>
                    </div>
                </div><!-- End row -->
            </div>
        <script src="js/bootbox.js"></script>
        <script type="text/javascript">
            function CustomersQuery() {
                var queryEmail = $('#email_newsletter').val();
                var fullName = '';
                var message = '';
                if (queryEmail != "") {
                    if (isEmail(queryEmail) == false) {
                        bootbox.dialog({
                            message: "Please enter valid email id.",
                            buttons: {
                                "success": {
                                    "label": "OK",
                                    "className": "btn-sm btn-primary",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                        return false;
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            async: false,
                            data: JSON.stringify({ "queryEmail": queryEmail, "fullName": fullName, "message": message, "phoneNumber": null }),
                            contentType: 'application/json; charset=utf-8',
                            url: "/MarketingCampaign/CustomersQuery",
                            success: function (response) {
                                if (response == "true") {
                                    bootbox.dialog({
                                        message: "Thank you for showing the interest, we'll getback to you soon!",
                                        buttons: {
                                            "success": {
                                                "label": "OK",
                                                "className": "btn-sm btn-primary",
                                                callback: function () {
                                                    location.href = 'Home/Index.html';
                                                }
                                            }
                                        }
                                    });
                                }
                                else {
                                    bootbox.dialog({
                                        message: "Email could not be sent due to some problems. Please try later.",
                                        buttons: {
                                            "success": {
                                                "label": "OK",
                                                "className": "btn-sm btn-primary",
                                                callback: function () {
                                                    location.href = 'Home/Index.html';
                                                }
                                            }
                                        }
                                    });
                                }
                            },
                            error: function (response) {
                                bootbox.dialog({
                                    message: "Email could not be sent due to some problems. Please try later.",
                                    buttons: {
                                        "success": {
                                            "label": "OK",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                                location.href = 'Home/Index.html';
                                            }
                                        }
                                    }
                                });
                            }
                        });
                    }

                }
                else {
                    bootbox.dialog({
                        message: "Please provide an email.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                }
                return false;
            }
            function isEmail(emailid) {
                var emailRegex = "^[-!#$%&'*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&'*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$";
                if (!emailid.match(emailRegex)) {
                    return false;
                }
                else {
                    return true;
                }
            }
        </script>
        <div id="copy_right">Millionlights &copy; 2016</div>
    </footer>
<div id="toTop">Back to top</div>
    <script src="js/jquery.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>  
</body>
</html>
