@{
    Layout = null;
    var strEncRequest = ViewBag.EncryptedRequest;
    var strAccessCode = ViewBag.CCAvenueAccessCode;
    var CheckoutCourses = ViewBag.CheckoutCourses;
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#nonseamless").submit();
    });
</script>

<form id="nonseamless" method="post" name="redirect" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
    <input type="hidden" id="encRequest" name="encRequest" value="@strEncRequest" />
    <input type="hidden" id="Hidden1" name="access_code" value="@strAccessCode" />
</form>
@*<form id="nonseamless" method="post" name="redirect" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
    <input type="hidden" id="encRequest" name="encRequest" value="@strEncRequest" />
    <input type="hidden" id="Hidden1" name="access_code" value="@strAccessCode" />
</form>*@