.rating {
    color: #FC0;
    margin-top: 10px;
}
.btnExternal {
    border-radius: 5px;
    background: rgb(102, 102, 255);
    color: white;
    width: 40px;
    height: 30px;
    border: 1px solid;
    padding-right: 5px;
}

.btnColor {
    font-size: 13px !important;
    font-weight: 400;
    color: #964741 !important;
    border-radius: 3px !important;
    text-transform: none !important
}

.user-span {
    display: block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    -moz-border-radius: 30px;
    border-radius: 16.2px;
    background-color: #0f1a9a;
    color: white;
    text-align: center;
    font-size: 1.3em;
}