
.rating {
    color: #FC0;
}

.btnExternal {
    border-radius: 5px;
    /*background: rgb(102, 102, 255);*/
    color: white;
    width: 40px;
    height: 30px;
    border: 1px solid;
    padding-right: 5px;
}

.btnColor {
    font-size: 13px !important;
    font-weight: 400;
    color: #964741 !important;
    border-radius: 3px !important;
    text-transform: none !important
}

.user-span {
    margin: 28px 0px;
    display: block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    -moz-border-radius: 30px;
    border-radius: 16.2px;
    background-color: #df4a43;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.icon-cog {
    color: white;
    background: transparent;
    -webkit-text-stroke: 1px #f5f5f5;
}

#login {
    background-color: white;
}
.rightAlign {
    text-align: right !important;
    margin-bottom: 14px;
    margin-top: -12px;
}
.section-white {
    padding: 38px;
}