
.rating {
    color: #FC0;
}

.btnExternal {
    border-radius: 5px;
    /*background: rgb(102, 102, 255);*/
    color: white;
    width: 40px;
    height: 30px;
    border: 1px solid;
    padding-right: 5px;
}

.btnColor {
    font-size: 13px !important;
    font-weight: 400;
    color: #964741 !important;
    border-radius: 3px !important;
    text-transform: none !important
}

.user-span {
    margin: 28px 0px;
    display: block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    -moz-border-radius: 30px;
    border-radius: 16.2px;
    background-color: #df4a43;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.icon-cog {
    color: white;
    background: transparent;
    -webkit-text-stroke: 1px #f5f5f5;
}

#login {
    background-color: white;
}
.rightAlign {
    text-align: right !important;
    margin-bottom: 14px;
    margin-top: -12px;
}
/*.section-white {
    padding: 38px 0px;
}*/
.h4 {
    font-size: 18px;
    font-weight: bold;
    color: #4d5359;
    letter-spacing: 0.02em;
    line-height: 1.8;
}

input.typeahead.scrollable ~ .tt-dropdown-menu {
    max-height: 150px !important;
    overflow-y: auto !important;
    background-color: #fff !important;
    color: #babbbe !important;
    border: 1px solid #d8d8da !important;
}
.tt-suggestion p {
    margin-bottom: 0px !important;
    padding-bottom :8px;
}
.tt-suggestion {
    padding-left: 6px !important;
}
    .tt-suggestion:hover {
        background: #337ab7;
    }

input[type="submit"].dmsearch-submit {
    margin-top: 30px;
}

input[type="text"].dmsearch-input {
    border: none;
    outline: none;
    opacity: 0;
    background: #f9f9f9;
    font-size: 12px;
    width: 220px;
    color: #babbbe;
    height: 35px;
    margin: 0;
    border: 1px solid #d8d8da;
    padding-right: 30px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

#search {
    float: inherit;
}

.service-absolute .icon-normal i {
    color: #ffffff !important;
}

.profImg {
    width: 120px !important;
    margin: 0 auto;
}
/*.modal-backdrop.in {
    filter: alpha(opacity=50) !important;
    opacity: .5 !important;
}*/

.modal-backdrop {
    position: initial !important;
    opacity: 0.8 !important;
    border: 1px solid black !important;
    /*top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040 !important;
    background-color: #d4d4d4 !important;
    opacity: 0.8 !important;*/
}


/*.fade.in {
    opacity: 0.5 !important;
}*/
    /*.modal-backdrop.in {
        opacity: 0.8;
        filter: alpha(opacity=50);
    }*/

.btnRegister {
    height: 32px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 16px 2px 16px !important;
    background: #1dd7b2;
    border: none;
    margin-top: 5px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    height: 32px !important;
    margin-left: 5px;
}

.actCoupon {
    border: none;
    margin-top: 5px;
    background: #F66;
    color: #fff;
    font-size: 11px;
    padding: 6px 16px 3px 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

/*.icon {
    font-family: 'Stroke-Gap-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}*/

.fa-minus-circle {
    color: red !important;
    margin-left: 22px;
}
.courseVal {
    padding-left: 10px;
}

.imgOrderDetails {
    width: 45%;
    height: 35%;
}

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "FontAwesome" !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.btnSignin {
    border: none;
    margin-top: 5px;
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 6px 16px 3px 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 2 !important;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.studentView {
    width: 95%;
    margin-left: -1%;
}

.modal {
    background-color: rgba(85, 85, 85, 0.49) !important;
}

.img-responsive
 {
    display: block;
    max-width: 100%;
    height: auto;
}

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');*/


.retiveEmldiv {
    border-bottom: 1px solid rgba(0, 0, 0, 0.29) !important;
}