<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="MillionLight" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@; Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@"
      providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=WAD\SQL2008EXPRESS;Initial Catalog=MillionLightDb;User ID=sa;Password=rational8*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="MillionLight" connectionString="Data Source=wad\sql2008express;Initial Catalog=MillionLightDb;User ID=sa;Password=rational8*;"
      providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=wad\sql2008express;Initial Catalog=MillionLightDb;User ID=sa;Password=rational8*;"
      providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=wad\sql2008express;Initial Catalog=MillionLightDb;User ID=sa;Password=rational8*;"
      providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString2" connectionString="Data Source=wad\sql2008express;Initial Catalog=MillionLightDb;User ID=sa;Password=rational8*;Persist Security Info=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>-->
    <!--<add name="MillionLight" connectionString="Data Source=ml2017srv.database.windows.net;Initial Catalog=MillionLightsDb;User ID=akshats;Password=rational1!;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=ml2017srv.database.windows.net;Initial Catalog=MillionLightsDb;User ID=akshats;Password=rational1!;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=ml2017srv.database.windows.net;Initial Catalog=MillionLightsDb;User ID=akshats;Password=rational1!;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString2" connectionString="Data Source=ml2017srv.database.windows.net;Initial Catalog=MillionLightsDb;User ID=akshats;Password=rational1!;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->   
  <!--</connectionStrings>-->
  <!--<connectionStrings>
    <add name="MillionLight" connectionString="Data Source=mlsqlserver-dev.database.windows.net;Initial Catalog=MillionLightDb_PD;Persist Security Info=True;User ID=numinouser;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=mlsqlserver-dev.database.windows.net;Initial Catalog=MillionLightDb_PD;Persist Security Info=True;User ID=numinouser;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=mlsqlserver-dev.database.windows.net;Initial Catalog=MillionLightDb_PD;Persist Security Info=True;User ID=numinouser;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString2" connectionString="Data Source=mlsqlserver-dev.database.windows.net;Initial Catalog=MillionLightDb_PD;Persist Security Info=True;User ID=numinouser;Password=Pa55w0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="MillionLight" connectionString="Data Source=ml-microsite-dbserver.database.windows.net;Initial Catalog=EdunetWorks;Persist Security Info=True;User ID=mulberry;Password=Blueberry@6456" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=ml-microsite-dbserver.database.windows.net;Initial Catalog=EdunetWorks;Persist Security Info=True;User ID=mulberry;Password=Blueberry@6456" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=ml-microsite-dbserver.database.windows.net;Initial Catalog=EdunetWorks;Persist Security Info=True;User ID=mulberry;Password=Blueberry@6456" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString2" connectionString="Data Source=ml-microsite-dbserver.database.windows.net;Initial Catalog=EdunetWorks;Persist Security Info=True;User ID=mulberry;Password=Blueberry@6456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    <connectionStrings>
    <add name="MillionLight" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@; Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString1" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@;" providerName="System.Data.SqlClient" />
    <add name="MillionLightDbConnectionString2" connectionString="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb;User ID=mlazure;Password=test12!@;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  -->
  <appSettings file="../AppSettingsSecrets.xml">    
  </appSettings>
  <system.web>
    <!--<customErrors mode="Off" />-->
    <customErrors mode="On" defaultRedirect="~/Error/NotFound">
    <error redirect="~/Error/NotFound" statusCode="500" />
    </customErrors>
    <authentication mode="None" />
    <compilation debug="true" batch="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480" requestValidationMode="2.0" />
    <pages validateRequest="false">
    </pages>
    <machineKey validationKey="1AC239C3BEA6D09830E9EF356DFA87D3CB4628F766C69FB6906771FB11B1C88C9603054B635AC220D1AAD13A3935CF04E3B15D9073680004FAEF79E946223ED5" decryptionKey="DEFAF733F9544766580CD1B157E1DA4800C64DC2FF49AD0A" validation="SHA1" />
    <trust level="Full" />
    <trace enabled="true" writeToDiagnosticsTrace="true" mostRecent="true" pageOutput="false" localOnly="false" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />

    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <remove fileExtension=".eot" />
      <!-- In case IIS already has this mime type -->
      <remove fileExtension=".ttf" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <clientCache cacheControlCustom="public" cacheControlMaxAge="12:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
<!--<rewrite>
  <rules>
    <rule name="Redirect to HTTP" stopProcessing="true">
    <match url="(.*)" />
  <conditions>
    <add input="{R:1}" pattern="^onepage/(.*)$" negate="true" />
    <add input="{HTTPS}" pattern="^ON$" />
  </conditions>
  <action type="Redirect" url="http://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
      </rule>
  </rules>
</rewrite>-->
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.myisp.com" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener,              System.Web,              Version=4.0.0.0,              Culture=neutral,             PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
