@{
    ViewBag.Title = "Career";
    var IsSccuess = ViewBag.IsSuccess;
}
<section id="main_content">
    <div class="row">
        <div class="col-sm-12" style="background-image: url('../Images/career.jpg');background-repeat:no-repeat;height:300px;background-size:100%;margin-top:-20px;">

        </div>
        <div class="col-md-7" style="padding-left:4%">
            @*<h3>Job Description</h3>*@
            <br />
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Job Description<i class="indicator pull-right icon-minus"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                        <div class="panel-body">
                            <p>Millionlights is looking for an enthusiastic person who could be a part of our revolutionary step in the education space.</p>
                            <p>We make Massive Open Online courses (MOOCs) for cable TV, web and mobile platforms. The courses could be of any subject that the world wants to learn.</p>
                            <p>Website: <a href="https://www.millionlights.org/">https://www.millionlights.org/</a></p>
                            <p><b>Following are the details of the job:</b></p>
                            <h4><b>Job Description: </b></h4>
                            <ul>
                                <li>
                                    Involved in the research and designing of new courses and material
                                </li>
                                <li>
                                    Involved in the set-up of exams/ assessments
                                </li>
                                <li>
                                    Teach the course to the camera audience
                                </li>
                                <li>
                                    Providing mentoring, advice and support to students on a personal level (Live Lecture)
                                </li>
                                <li>
                                    Actively leading class discussions and encouraging debate (Live Lecture)
                                </li>
                            </ul>
                            <br />
                            <h4><b>Qualification: </b></h4>
                            <ul>
                                <li>
                                    Any graduate and above
                                </li>
                                <li>
                                    Work experience 5 + years
                                </li>
                                <li>
                                    Subject Matter expert
                                </li>
                                <li>
                                    Excellent academic track record
                                </li>
                                <li>
                                    Excellent teaching and assessing skills
                                </li>
                                <li>
                                    Ability to articulate the subject of the course
                                </li>
                                <li>
                                    Ability to handle queries
                                </li>
                                <li>
                                    Excellent communication and public speaking capabilities
                                </li>
                                <li>
                                    Advance computer operation knowledge
                                </li>
                                <li>
                                    Presentable and pleasing personality
                                </li>
                            </ul>
                            <br />
                            <h4><b>Location: </b></h4>
                            <p>
                                If you find it interesting to move from the traditional teaching format and teach a larger audience through MOOC; which will reach Lakhs of households through cable and millions of users on the web.
                            </p>
                            <p>
                                We are waiting to hear from you. Send your application TODAY!
                            </p>
                            <br />
                            <h4><b>Note: </b></h4>
                            <p>
                                <ul>
                                    <li>
                                        It will be a contractual association
                                    </li>
                                    <li>You will be paid per assignment</li>
                                    <br />More details could be discussed once you apply.
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parsnip lotus root celery?<i class="indicator icon-plus pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Beet greens peanut salad?<i class="indicator icon-plus pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>*@
            </div>
            <hr>
        </div>
        <div class="col-sm-5">
            <section id="main_content">
                <div>
                    <div class="row">
                        <div class="col-md-12" style="padding-right:8%;">
                            <div class=" box_style_2">
                                <div class="row">
                                   <div class="col-md-12" style="margin-top: -24px; text-align: center;">

                                        <h4>Apply to Job</h4>

                                        <hr />

                                    </div>
                                </div>
                                <div id="message-contact"></div>
                                @using (Html.BeginForm("JobApplication", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", onsubmit = "return ValidateCareer();" }))
                                {
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" id="job_title" name="job_title" class="form-control style_2" placeholder="Enter Job Title">
                                                <span class="input-icon"><i class="icon-graduation-cap"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control style_2" id="name_contact" name="name_contact" placeholder="Enter First Name">
                                                <span class="input-icon"><i class="icon-user"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control style_2" id="lastname_contact" name="lastname_contact" placeholder="Enter Last Name">
                                                <span class="input-icon"><i class="icon-user"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="email" id="email_contact" name="email_contact" class="form-control style_2" placeholder="Enter Email">
                                                <span class="input-icon"><i class="icon-email"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" id="phone_contact" name="phone_contact" class="form-control style_2" placeholder="Enter Phone number" onkeypress="return isNumberKey(event)">
                                                <span class="input-icon"><i class="icon-phone"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <textarea rows="5" cols="5" id="message_contact" name="message_contact" class="form-control contact-message" placeholder="Write your message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="file" id="file" name="file" class="form-control style_2" placeholder="Upload Resume">
                                                @*<span class="input-icon"><i class="icon-phone"></i></span>*@
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <label id="lblPwdError" class="colorRed"></label>
                                            <label id="lblSuccess" class="colorGreen"></label><br>
                                            <button id="submit-contact" type="submit" class="button_medium" style="background-color: #008278 !important" >
                                                <i class="bigger-110"></i>
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var IsSuccess = '@IsSccuess'
        if (IsSuccess != '' && IsSuccess == 'True') {
            $('#lblSuccess')[0].innerHTML = "Your job application submitted successfully";
        }
    });

    function ValidateCareer() {
        var jobTitle = $('#job_title')[0].value;
        var firstName = $('#name_contact')[0].value;
        var lastName = $('#lastname_contact')[0].value;
        var email = $('#email_contact')[0].value;
        var phone = $('#phone_contact')[0].value;
        var message = $('#message_contact')[0].value;
        var resume = $('input[type=file]').val();
        var emailRegEx = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var isValid = true;
        if(jobTitle.length==0){
            $('#lblPwdError')[0].innerHTML = "Please enter job title";
            isValid = false;
        }
        else if(firstName.length==0){
            $('#lblPwdError')[0].innerHTML = "Please enter first name";
            isValid = false;
        }
        else if (lastName.length == 0) {
            $('#lblPwdError')[0].innerHTML = "Please enter last name";
            isValid = false;
        }
        else if (email.length == 0 || !emailRegEx.test(email)) {
            $('#lblPwdError')[0].innerHTML = "Please enter valid email Id";
            isValid = false;
        }
        else if (resume== "") {
            $('#lblPwdError')[0].innerHTML = "Please upload resume";
            isValid = false;
        }
        if (isValid == false) {
            return false;
        }
        else {
            return true;
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>