@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Milion Lights - Microsoft Courses & Certification in India";
     int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var userName = Session["UserName"];
}
@*<script src="~/Content/learn/js/jquery-1.10.2.min.js"></script>*@
<style>
    a.accrodian-trigger {
        display: block;
        margin: 5px 0;
        background: #f9f9f9 url(../img/plus1.png) no-repeat center right;
        background-image: url(../content/learn/img/plus1.png);
        cursor: pointer;
        font-size: 16px; 
        padding: 5px 15px;
        line-height: 32px;
        transition: background .5s ease;
        margin-bottom: 5px;
        
    }

    .accrodian-data {
        padding: 0 15px;
    }

    </style>    

@*@if (userName != null)
                    {
<div class="breadcrumbs breadCrumbAlign" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Home/Dashboard">Home</a>
        </li>
        <li> <a href="/Home/FAQ">FAQ</a></li>
        <li class="active">View</li>
    </ul>
</div>
}*@
<section id="faqs_parallax" class="section-white page-title-wrapper" data-stellar-background-ratio="1" data-stellar-offset-parent="true">
    <div class="container">
        <div class="relative">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h4>FAQs</h4>
                        <p>We Are Here To Help</p>
                        <div class="section-title text-center">
                            <img src="~/coursat/upload/fit_economy1.jpg" style="width:100%;height:100%;" alt="fullslide1" data-bgposition="center top">
                        </div><!-- end title -->
                        @*<ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Blog</li>
                        </ol>*@
                    </div><!-- end title -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end relative -->
    </div><!-- end container -->
</section><!-- end section-white -->
<section class="section-white">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-8 col-sm-12">
                <div class="widget about-widget">
                    <div class="accordion-toggle-2">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                                            <h3><i class="indicator fa fa-minus"></i>Pixel Perfect?</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                                            <h3> <i class="indicator fa fa-plus"></i> Ultra Responsive</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                                            <h3><i class="indicator fa fa-plus"></i> Modern Design</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1212">
                                            <h3><i class="indicator fa fa-plus"></i> Responsive and Retina Ready</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="1212" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1313">
                                            <h3><i class="indicator fa fa-plus"></i> Creative Design</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="1313" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1414">
                                            <h3><i class="indicator fa fa-plus"></i> Limitless Color Schemes</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="1414" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1515">
                                            <h3><i class="indicator fa fa-plus"></i> Download Ready</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="1515" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#2121">
                                            <h3><i class="indicator fa fa-plus"></i> Professional Shortcodes</h3>
                                        </a>
                                    </div>
                                </div>
                                <div id="2121" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                        <p>Cras urna felis accumsan at ultrde cesid posuere masa um socis nautoque penat.  Maecenas ultrices. Lorem ipsum dolor sit amet consectetur adipisicing elit sedu do eiusmod tempore incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- accordion -->
                </div><!-- end widget -->
            </div><!-- end content -->
            <div id="sidebar" class="col-md-4 col-sm-12 pull-left">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Categories</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="cat-widget">
                        <ul>
                            <li><a href="#">Branding <span>(5)</span></a>
                            <li><a href="#">UI Design <span>(77)</span></a>
                            <li><a href="#">Typography <span>(11)</span></a>
                            <li><a href="#">Wordpress <span>(54)</span></a>
                            <li><a href="#">Development <span>(12)</span></a>
                            <li><a href="#">Photography <span>(32)</span></a>
                        </ul>
                    </div><!-- end latest-course -->
                </div><!-- end widget -->
                <div class="widget">
                    <div class="widget-title">
                        <h4>Latest Courses</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <ul class="latest-course">
                        <li>
                            <img src="upload/course_mini_01.png" alt="" class="img-responsive alignleft">
                            <h4><a href="#" title="">New Cooking Lessons</a></h4>
                            <span>Date : Oct 14, 2014</span>
                            <span>Created By : <a href="#">Begha</a></span>
                        </li>
                        <li>
                            <img src="upload/course_mini_02.png" alt="" class="img-responsive alignleft">
                            <h4><a href="#" title="">Web Develop lessons</a></h4>
                            <span>Date : Oct 14, 2014</span>
                            <span>Created By : <a href="#">Begha</a></span>
                        </li>
                    </ul><!-- end latest-course -->
                </div><!-- end widget -->
                <div class="widget">
                    <div class="widget-title">
                        <h4>Tags</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="tagcloud">
                        <a href="#">Responsive</a>
                        <a href="#">Modern</a>
                        <a href="#">Coursat HTML</a>
                        <a href="#">Fresh</a>
                        <a href="#">Corporate</a>
                        <a href="#">Creative</a>
                        <a href="#">Responsive</a>
                        <a href="#">Modern</a>
                        <a href="#">Coursat HTML</a>
                        <a href="#">Fresh</a>
                        <a href="#">Corporate</a>
                        <a href="#">Creative</a>
                    </div><!-- end tagline -->
                </div><!-- end widget -->
                <div class="widget">
                    <div class="widget-title">
                        <h4>Advertisiment</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="text-widget banner">
                        <img src="upload/banner.png" alt="" class="img-responsive">
                    </div><!-- end latest-course -->
                </div><!-- end widget -->
                <div class="widget">
                    <div class="widget-title">
                        <h4>Latest Tweets</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <ul class="latest-tweets">
                        <li>
                            <h4><a href="#" title="">Begha</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</h4>
                            <span>2 hours ago</span>
                        </li>
                        <li>
                            <h4><a href="#" title="">Begha</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</h4>
                            <span>2 hours ago</span>
                        </li>
                    </ul><!-- end latest-course -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section-white -->
