@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Milion Lights - Microsoft Courses & Certification in India";
     int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var userName = Session["UserName"];
}
<script src="~/Content/learn/js/jquery-1.10.2.min.js"></script>
<style>
    a.accrodian-trigger {
        display: block;
        margin: 5px 0;
        background: #f9f9f9 url(../img/plus1.png) no-repeat center right;
        background-image: url(../content/learn/img/plus1.png);
        cursor: pointer;
        font-size: 16px; 
        padding: 5px 15px;
        line-height: 32px;
        transition: background .5s ease;
        margin-bottom: 5px;
        
    }

    .accrodian-data {
        padding: 0 15px;
    }

    </style>    

@*@if (userName != null)
                    {
<div class="breadcrumbs breadCrumbAlign" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Home/Dashboard">Home</a>
        </li>
        <li> <a href="/Home/FAQ">FAQ</a></li>
        <li class="active">View</li>
    </ul>
</div>
}*@
<section id="main_content">
    <div @*class="container"*@>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">1. Who is Million Lights? </a>
                <div class="accrodian-data">
                    <p>
                        We are a group of educationalists, people with extensive experience at the Policy making level in Government and businessmen with deep connects in the education space. Million Lights provides training and content through its Learning Management System.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">2. How do we give the exam? Will it be online or offline? </a>
                <div class="accrodian-data">
                    <p>
                        You can give your examination from your home/netcafe or anywhere, you can access our LMS. The exam will be online. 
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">3. Why should be I be doing this course, how it will benefit me?  </a>
                <div class="accrodian-data">
                    <p>
                        This is a skill based course, it will enhance your skills and help you in your career after certification.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">4. How long does a typical exam take? </a>
                <div class="accrodian-data">
                    <p>
                        A duration of exam will depend on the course you are taking.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">5. What is a Coupon code? How to use it?</a>
                <div class="accrodian-data">
                    <p>
                        The coupon code is the entry to the course. You can enter the coupon code on the top right corner and click on activate. 
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">6. How will I get my certificate?</a>
                <div class="accrodian-data">
                    <p>
                        Once you pass the online exam, your certificate will be automatically generated. You have an option to Print it.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">7. Where can I find my exam results? </a>
                <div class="accrodian-data">
                    <p>
                        Exam results are displayed on your screen immediately after you complete an exam. For those who pass, automatically, certificate will be generated.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">8. Will you provide any placement service to help me to get a job?</a>
                <div class="accrodian-data">
                    <p>
                        We will assist you in your placement like forwarding your resume to corporates who are associated with us but do not guarantee or promise any job or job interviews.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">9. Can I view or learn free courses available with Million Lights?</a>
                <div class="accrodian-data">
                    <p>
                        Yes, you can enroll in free courses but you can only access these courses when you have enrolled for it.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <div class="accrodian-trigger">
                    <a class="accrodian-trigger" href="">10. Will I be receiving any certificate for any of these free courses?</a>
                    <div class="accrodian-data">
                        <p>
                            Yes, you will get certification for the free course , provided you complete the course and pass the exam.
                        </p>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">11. How do I enroll for a free course? </a>
                <div class="accrodian-data">
                    <p>
                        Use the free course coupon code, that you might have received , and click on activate.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">12. I have paid for the course, how can I access it?</a>
                <div class="accrodian-data">
                    <p>
                        Click on My Account, and click on My Courses. Click on View Course to access the course.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">13. Can I join the same course multiple times? </a>
                <div class="accrodian-data">
                    <p>
                        Once you have enrolled for a course, you can access it for lifetime. You need not enroll for it again.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">14. I enrolled for a course, but could not study for a long time. Can I access it now? For how long? </a>
                <div class="accrodian-data">
                    <p>
                        Yes, you can access it, provided you have the correct user id/password. Once you enroll for a course, you can use it for lifetime.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-5 col-md-10">
                <a class="accrodian-trigger" href="">15. I want to change my email id </a>
                <div class="accrodian-data">
                    <p>
                        Click on My Account, and click on Profile, Edit Profile to make any changes to your personal details.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
    </div>
</section>
