@using Microsoft.AspNet.Identity.Owin;
@using System.Linq;
@using System.Collections;
@{
    var freeCourses = ViewBag.FreeCourses;
    var paidCourses = ViewBag.PaidCourses;
    var freeCourseCounterTemp = ViewBag.FreeCoursesCounter;
    var paidCoursesCounterTemp = ViewBag.PaidCoursesCounter;
    var userCount = ViewBag.UserCount;
    var courseCount = ViewBag.CoursesCount;
    var promo = ViewBag.Video;
    ViewBag.Title = "Free online Courses in India | IT Courses India with Certificates, Pune";
    var userName = Session["UserName"];
    var userId = Session["UserID"];
    var isRegister = Session["IsRegister"];
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var logout = ViewBag.IsLogout;
    var freeCount = 0; 
    var paidCount = 0;
    var PartnerList = (List<Millionlights.Models.PartnerImage>)ViewBag.AllPartner;
}
@{
    var messages = (Dictionary<string, string>)ViewBag.Messages;
}
@section ExtraMetaTags
{
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="Free Online courses India, Free Online IT Courses in India, Pune" />
    <meta name="description" content="We, at Millionlights offer Free online Courses with Certificates  in India. Our team consists of senior people from Academia and the government." />
}


<!-- RS SLIDER -->
<link rel="stylesheet" type="text/css" href="~/coursat/rs-plugin/css/settings.css" media="screen" />
 <body>
    <div id="loader">
        <div class="loader-container">
            <div class="wow zoomIn" data-wow-duration="1s" data-wow-offset="100">
                <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                    <div class="wow pulse" data-wow-delay="100ms" data-wow-iteration="infinite" data-wow-duration="1s">
                        <img src="~/coursat/images/smalllogo.png" alt="" class="loader-site">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="parallax2" class="section-white search-wrapper dark-wrapper" data-stellar-background-ratio="0.5" data-stellar-offset-parent="true">
        <div class="overlay"></div>
        <div class="container">
            <div class="row relative">

                <div class="col-md-4 col-sm-6">
                    <div class="fun-fact-2 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <i class="fa fa-user"></i>
                        <h4 class="stat-count">2464</h4>
                        <p>HAPPY CUSTOMERS</p>
                    </div><!-- end fun-fact-2 -->
                </div><!-- end col -->
                <div class="col-md-4 col-sm-6">
                    <div class="fun-fact-2 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <i class="fa fa-folder-o"></i>
                        <h4 class="stat-count">5485</h4>
                        <p>COURSES</p>
                    </div><!-- end fun-fact-2 -->
                </div><!-- end col -->
                <div class="col-md-4 col-sm-6">
                    <div class="fun-fact-2 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="fa fa-graduation-cap"></i>
                        <h4 class="stat-count">65641</h4>
                        <p>CERTIFICATION</p>
                    </div><!-- end fun-fact-2 -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section-white -->

    <section class="slider-section">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_01.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="~/coursat/upload/slider_01.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption text-center skewfromleft randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="165"
                             data-speed="1000"
                             data-start="800"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <img src="~/coursat/upload/slider_logo_01.png" alt="">
                        </div>
                        <div class="tp-caption slider_01 text-center skewfromright randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="240"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Coursat, Online Courses Template <hr>
                        </div>
                        <div class="tp-caption slider_02 text-center skewfromright randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="330"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            We Will Help You To Learn
                        </div>
                        <div class="tp-caption slider_03 text-center randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="395"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique<br> vel, eleifend sed turpis.
                        </div>
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_02.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="~/coursat/upload/slider_02.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption slider_01 text-left skewfromright randomrotateout tp-resizeme"
                             data-x="left"
                             data-y="240"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Coursat, Online Courses Template <hr>
                        </div>
                        <div class="tp-caption slider_02 text-center skewfromright randomrotateout tp-resizeme"
                             data-x="left"
                             data-y="330"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            TRULY RESPONSIVE
                        </div>
                        <div class="tp-caption slider_03 text-left randomrotateout tp-resizeme"
                             data-x="left"
                             data-y="395"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adip<br>iscing condimentum tristique vel, eleifend sed turpis.
                        </div>
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="upload/slider_03.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="~/coursat/upload/slider_03.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption slider_01 text-center skewfromright randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="240"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Coursat, Responsive Courses Template <hr>
                        </div>
                        <div class="tp-caption slider_02 text-center skewfromright randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="330"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Learning Management System
                        </div>
                        <div class="tp-caption slider_03 text-center randomrotateout tp-resizeme"
                             data-x="center"
                             data-y="395"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique<br> vel, eleifend sed turpis.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h4>Latest Courses</h4>
                        <hr>
                        <p>Check Out Our Latest Professional Courses</p>
                    </div><!-- end title -->
                </div><!-- end col -->
            </div><!-- end row -->
            <div id="owl-courses" class="section-container">
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_01.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-spoon"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Cooking Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$200</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_02.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-camera"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Photography Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$350</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_03.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-flask"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Web Design Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$500</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_01.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-spoon"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Cooking Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$200</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_02.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-camera"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Cooking Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$350</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
                <div class="course-item">
                    <div class="owl-image">
                        <a href="course-single-1.html" title=""><img src="~/coursat/upload/course_03.png" alt="" class="img-responsive"></a>
                        <span class="course-badge"><i class="fa fa-flask"></i></span>
                    </div><!-- end image -->
                    <div class="course-desc">
                        <h5><a href="course-single-1.html" title="">Cooking Lessons</a></h5>
                        <span class="meta">Food & Cooking</span>
                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut, vivamus at elit qiuis urna adipiscing iaculis vitae velit in neque.</p>
                        <div class="course-big-meta clearfix">
                            <div class="pull-left">
                                <a href="#" class="owl-button">Details</a>
                            </div><!-- end left -->
                            <div class="pull-right">
                                <p>$500</p>
                            </div><!-- end right -->
                        </div><!-- end course-big-meta -->
                    </div><!-- end desc -->
                </div><!-- end item -->
            </div><!-- end owl-carousel -->
        </div><!-- end container -->
    </section><!-- end section-white -->
  </body>     
         

         <!-- CSS -->
         @*<div id="fb-root"></div>*@

         <script type="text/javascript">
             window.jQuery || document.write("<script type='text/javascript' src='../Content/assets/js/jquery.js'>" + "<" + "/script>");
         </script>
         <script type="text/javascript">

        //Specify the slider's width (in pixels)
        var sliderwidth = "1150px"
        //Specify the slider's height
        var sliderheight = "150px"
        //Specify the slider's slide speed (larger is faster 1-10)
        var slidespeed = 2
        //configure background color:
        slidebgcolor = "#EAEAEA"

        //Specify the slider's images
        var leftrightslide = new Array()
        var finalslide = ''
        var partners = "";
        if ('@PartnerList.Count()' > 0) {
            @foreach (var partners in PartnerList)
            {
                var physicalPath = Request.MapPath("/Images/Partner/" + partners.Id + "/" + partners.ImageLink + "");
                if (System.IO.File.Exists(physicalPath))
                {
                    @:leftrightslide.push('<a><img src="../images/Partner/@partners.Id/@partners.ImageLink"  border=1></a>');
                }
            }
        }
        //Specify gap between each image (use HTML):
        var imagegap = "<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>"

        //Specify pixels gap between each slideshow rotation (use integer):
        var slideshowgap = 100

        var copyspeed = slidespeed
        leftrightslide = '<nobr>' + leftrightslide.join(imagegap) + '</nobr>'
        var iedom = document.all || document.getElementById
        if (iedom)
            document.write('<span id="temp" style="visibility:hidden;position:absolute;top:-100px;left:-9000px">' + leftrightslide + '</span>')
        var actualwidth = ''
        var cross_slide, ns_slide

        function fillup() {
            if (iedom) {
                cross_slide = document.getElementById ? document.getElementById("test2") : document.all.test2
                cross_slide2 = document.getElementById ? document.getElementById("test3") : document.all.test3
                cross_slide.innerHTML = cross_slide2.innerHTML = leftrightslide
                actualwidth = document.all ? cross_slide.offsetWidth : document.getElementById("temp").offsetWidth
                cross_slide2.style.left = actualwidth + slideshowgap + "px"
            }
            else if (document.layers) {
                ns_slide = document.ns_slidemenu.document.ns_slidemenu2
                ns_slide2 = document.ns_slidemenu.document.ns_slidemenu3
                ns_slide.document.write(leftrightslide)
                ns_slide.document.close()
                actualwidth = ns_slide.document.width
                ns_slide2.left = actualwidth + slideshowgap
                ns_slide2.document.write(leftrightslide)
                ns_slide2.document.close()
            }
            lefttime = setInterval("slideleft()", 30)
        }
        window.onload = fillup

        function slideleft() {
            if (iedom) {
                if (parseInt(cross_slide.style.left) > (actualwidth * (-1) + 8))
                    cross_slide.style.left = parseInt(cross_slide.style.left) - copyspeed + "px"
                else
                    cross_slide.style.left = parseInt(cross_slide2.style.left) + actualwidth + slideshowgap + "px"

                if (parseInt(cross_slide2.style.left) > (actualwidth * (-1) + 8))
                    cross_slide2.style.left = parseInt(cross_slide2.style.left) - copyspeed + "px"
                else
                    cross_slide2.style.left = parseInt(cross_slide.style.left) + actualwidth + slideshowgap + "px"

            }
            else if (document.layers) {
                if (ns_slide.left > (actualwidth * (-1) + 8))
                    ns_slide.left -= copyspeed
                else
                    ns_slide.left = ns_slide2.left + actualwidth + slideshowgap

                if (ns_slide2.left > (actualwidth * (-1) + 8))
                    ns_slide2.left -= copyspeed
                else
                    ns_slide2.left = ns_slide.left + actualwidth + slideshowgap
            }
        }

        if (iedom || document.layers) {
            with (document) {
                document.write('<table border="0" cellspacing="0" cellpadding="0"><td>')
                if (iedom) {
                    write('<div class=hidden-xs id=partnerSlide style="position:relative;width:' + sliderwidth + ';height:' + sliderheight + ';overflow:hidden;margin-left:10%;padding-top:25px;">')
                    write('<div style="position:absolute;width:' + sliderwidth + ';height:' + sliderheight + ';">')
                    write('<div id="test2" style="position:absolute;left:0px;top:0px"></div>')
                    write('<div id="test3" style="position:absolute;left:-1000px;top:0px"></div>')
                    write('</div></div>')
                }
                else if (document.layers) {
                    write('<ilayer width=' + sliderwidth + ' height=' + sliderheight + ' name="ns_slidemenu" bgColor=' + slidebgcolor + '>')
                    write('<layer name="ns_slidemenu2" left=0 top=0 onMouseover="copyspeed=0" onMouseout="copyspeed=slidespeed"></layer>')
                    write('<layer name="ns_slidemenu3" left=0 top=0 onMouseover="copyspeed=0" onMouseout="copyspeed=slidespeed"></layer>')
                    write('</ilayer>')
                }
                document.write('</td></table>')
            }
        }
         </script>

         <script type="text/javascript" src="https://platform.linkedin.com/in.js">
             api_key: 75cxqdj7v4gd8f
             authorize: false
             onLoad: onLinkedInLoad
             scope: w_share
         </script>

         <script type="text/javascript">
                 (function () {
                     var po = document.createElement('script'); po.type = 'text/javascript';
                     po.async = true;
                     po.src = 'https://apis.google.com/js/client:plusone.js';
                     var s = document.getElementsByTagName('script')[0];
                     s.parentNode.insertBefore(po, s);
                 })();
         </script>

         <script type="text/javascript">
             var substringMatcher = function (strs) {
                 return function findMatches(q, cb) {
                     var matches, substringRegex;

                     // an array that will be populated with substring matches
                     matches = [];

                     // regex used to determine if a string contains the substring `q`
                     substrRegex = new RegExp(q, 'i');

                     // iterate through the pool of strings and for any string that
                     // contains the substring `q`, add it to the `matches` array
                     $.each(strs, function (i, str) {
                         if (substrRegex.test(str)) {
                             // the typeahead jQuery plugin expects suggestions to a
                             // JavaScript object, refer to typeahead docs for more info
                             matches.push({ value: str });
                         }
                     });

                     cb(matches);
                 }
             }
         </script>
         <!-- OTHER JS -->
         @*<script src="~/Content/assets/js/bootbox.js"></script>
         <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>*@
         <script type="text/javascript">
    var cartName = "CourseDetails";
    var currentCourses = '';
    function getCurrentCartItems() {

        var itemsCart = window.localStorage[cartName];
        if (itemsCart === undefined) {
            return null;
        }

        var currentItems;
        try {
            currentItems = JSON.parse(itemsCart);
        }
        catch (e) {
            currentItems = null;
        }

        return currentItems;
    }

    $(document).ready(function () {

        debugger
        // Done By Archana 25.11.2016 for Collaspse and Show the Courses according to the Conditions
        if ('@freeCourseCounterTemp'<= 0 && '@paidCoursesCounterTemp' <= 0) {
            debugger
            $('#collapseTwo').collapse("hide"); //Free
            $('#collapseOne').collapse("hide"); //Paid

        }
        else if ('@freeCourseCounterTemp' > 0 && '@paidCoursesCounterTemp' <= 0) {
            debugger
            $('#collapseTwo').collapse("show");
            $('#collapseOne').collapse("hide");

        }
        else if ('@freeCourseCounterTemp' <= 0 && '@paidCoursesCounterTemp' > 0) {
            debugger
            $('#collapseOne').collapse("show");
            $('#collapseTwo').collapse("hide");

        }
        else if ('@freeCourseCounterTemp'> 0 && '@paidCoursesCounterTemp' > 0) {
            debugger
            $('#collapseTwo').collapse("show"); //Free
            $('#collapseOne').collapse("hide"); //Paid

        }

        var log = '@logout'
        if (log != null && log == "true") {
            debugger;
            var cartName = "CourseDetails";
            window.localStorage.removeItem(cartName);
            localStorage.removeItem('CourseId');
            localStorage.removeItem('value');
            localStorage.clear();
            localStorage.CouponCode = null;
            $.removeCookie("CourseID");
            $.removeCookie("AboutCourseID");
            $.removeCookie("emailList");
            $.removeCookie("smsList");
        }


        //Remove local storage
        var cartName = "CourseDetails";

        if (window.localStorage[cartName] != null || window.localStorage[cartName] != undefined) {
            currentCourses = JSON.parse(window.localStorage[cartName]);
        }
        var data = "";
        var couponCode = null;
        var currentItems = getCurrentCartItems();
        if (currentItems == null || currentItems == "") {
            currentItems = [];
        }
        $('.enrollClass').click(function () {
            localStorage.CouponCode = null;
            var userId = '@userId';

            if (userId == '') {
                window.localStorage.removeItem(cartName);
                currentItems = null;
            }
            //setCookie("CouponCode", "", -1);
            var courseId = $(this)[0].id;
            //setCookie("ace_skin", "", -1);
            //setCookie("CourseID", courseId, 1);
            $.cookie("CourseID", courseId);
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent().parent()).find('.course_info h4')[0].innerHTML,
                CourseDescription: $($(this).parent().parent().parent().parent()).find('.course_info p')[0].innerHTML,
                CoursePrice: $($(this).parent().parent().parent().parent()).find('.course_info .price p')[0].innerHTML,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {

                // courseContents=JSON.stringify(courseContents);
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }

            localStorage.CourseId = courseId;

            @*var userId = '@userId';*@
            if (userId == '') {
                var url = "/Account/Login";
                window.location.href = url;
            }
            else {

                //if (document.cookie.split('=')[0] == "CourseID" || document.cookie.split(';')[1] == " CourseID") {
                if ($.cookie("CourseID") != null) {

                    //data = document.cookie.split('=')[1];
                    data = $.cookie("CourseID");
                    $.ajax({
                        type: "POST",
                        async: true,
                        data: JSON.stringify({ "data": data }),
                        contentType: 'application/json; charset=utf-8',
                        url: "/UserRegister/GetUserCourses",
                        success: function (response) {

                            var resp = JSON.parse(response);
                            if (resp.enrollCourse == "true") {

                                var courseId = resp.couresId;
                                var tempCurrentItems = JSON.parse(window.localStorage[cartName]);
                                var remCourses = removeItem(tempCurrentItems, courseId);
                                currentItems = remCourses;
                                window.localStorage[cartName] = JSON.stringify(remCourses);
                                bootbox.dialog({
                                    message: '@messages["AlredyEnroll"]',
                                    buttons: {
                                        "success": {
                                            "label": "Ok",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                            }
                                        },
                                        "fail": {
                                            "label": "Cancel",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                            }

                                        },

                                    }
                                });
                            }
                            else {
                                location.href = "/Order/Details";
                            }

                        },
                        error: function (response) {
                            localStorage.clear();
                        }
                    });
                }
                $.removeCookie("CourseID");
            }

            return false;
        });

        $('.nextCourseEnrollClass').click(function () {

            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent()).find('.media-heading')[0].innerText,
                CourseDescription: $($(this).parent().parent().parent()).find('p')[0].innerText,
                CoursePrice: $($(this).parent().parent().parent()).find('.po-body')[0].innerText,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {

                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {

                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }

            localStorage.CourseId = courseId;

            var userId = '@userId';
            if (userId == '') {

                var url = "/Account/Login";
                window.location.href = url;
            }
            else {


                location.href = "/Order/Details";
            }

            return false;
        });
        $('.detailClass').click(function () {
            var prevElement = 0;
            if ($(this)[0].previousElementSibling == null || $(this).parent().parent().find('a.enrollClass')[0] == undefined) {
                prevElement = 1;
            }

            //New Way
            localStorage.CouponCode = null;

            var courseId = $(this)[0].id;
            var coursName = null;
            var coursImage = null;
            var coursDescription = null;
            var coursPrice = null;
            if ($(this)[0].text == "Details") {
                coursName = ($($(this).parent().parent().parent().parent()).find('.course_info h4')[0].innerHTML).replace("&amp;", "and");
                coursImage = $($(this).parent().parent().parent().parent()).find('img').attr('src');
                coursDescription =  $($(this).parent().parent().parent().parent()).find('.course_info p')[0].innerHTML;
                coursPrice = $($(this).parent().parent().parent().parent()).find('.course_info .price p')[0].innerHTML;
            }
            else {
                coursName = ($($(this).parent().parent().parent()).find('.course_info h4')[0].innerHTML).replace("&amp;", "and");
                coursImage = $($(this).parent().parent().parent()).find('img').attr('src');
                coursDescription =  $($(this).parent().parent().parent()).find('.course_info p')[0].innerHTML;
                coursPrice = $($(this).parent().parent().parent()).find('.course_info .price p')[0].innerHTML;
            }
            setCookie("AboutCourseID", courseId, 1);

            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: coursImage,
                CourseName: coursName,
                CourseDescription: coursDescription,
                CoursePrice: coursPrice,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            //
            localStorage.CourseId = courseId;

            //Redirect user to about course page
            $.ajax({
                type: "POST",
                async: true,
                data: JSON.stringify({ "Id": courseId, "pe": prevElement }),
                contentType: 'application/json; charset=utf-8',
                url: "/Course/AboutCourseData",
                success: function (response) {
                    debugger
                    location.href = "/Course/AboutCourse/"+coursName+"/";
                },
                error: function (response) {
                }
            });
            return false;

        });

        $('.nextDetailClass').click(function () {
            //New Way
            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent()).find('.media-heading')[0].innerText,
                CourseDescription: $($(this).parent().parent().parent()).find('p')[0].innerText,
                CoursePrice: $($(this).parent().parent().parent()).find('.po-body')[0].innerText,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            //
            localStorage.CourseId = courseId;
            location.href = "/Course/AboutCourse?id=" + courseId;
            return false;

        });
        $('.imagedetailClass').click(function () {
            var prevElement = 0;
            if ($(this)[0].previousElementSibling == null || $(this).parent().parent().find('a.enrollClass')[0] == undefined) {
                prevElement = 1;
            }
            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            setCookie("AboutCourseID", courseId, 1);
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent()).find('.course_info h4')[0].innerHTML,
                CourseDescription: $($(this).parent().parent()).find('.course_info p')[0].innerHTML,
                CoursePrice: $($(this).parent().parent()).find('.course_info .price p')[0].innerHTML,
                CourseUserId: '@userId'
            };
            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            localStorage.CourseId = courseId;
            location.href = "/Course/AboutCourse?id=" + courseId + "&type=" + "&pe=" + prevElement;
            return false;
        });
    });
    function removeItem(tempCourse, courseId) {

        for (var i = 0; i < tempCourse.length; i++) {
            if (courseId === tempCourse[i].CourseId) {
                tempCourse.splice(i, 1);
            }
        }
        return tempCourse;
    }
    function setCookie(cookieName, cookieValue, nDays) {

        var today = new Date();
        var expire = new Date();
        if (nDays == null || nDays == 0) {
            nDays = 1;
        }
        expire.setTime(today.getTime() + 3600000 * 24 * nDays);
        document.cookie = cookieName + "=" + escape(cookieValue)
        + ";expires=" + expire.toGMTString() + "; path=/";
    }

    $("#CourseID").click(function () {

        var searchTextFind = $('#search')[0].value;
        var searchTextCat = searchTextFind.split("in category");
        var searchText = searchTextCat[0];


        if (searchText != "") {
            window.location.href = "/Course/AllCourses?id=0&type=none&courseName=" + searchText;
            return false;
        }
    });
    //JQuery for slider
    jQuery(document).ready(function ($) {

        if ('@isRegister' == 'true') {

            $.post('/Home/SetIsRegister',
            { key: "IsRegister", value: 'false' }, function (data) {

            });

        }
        var options = {
            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $AutoPlayInterval: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
            $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
            //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

            $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Scale: false                                   //Scales bullets navigator or not while slider scale
            },

            $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                $Scale: false                                   //Scales bullets navigator or not while slider scale
            }
        };
        //Make the element 'slider1_container' visible before initialize jssor slider.
        $("#slider1_container").css("display", "block");
        var jssor_slider1 = new $JssorSlider$("slider1_container", options);


        $("#slider2_container").css("display", "block");
        var jssor_slider2 = new $JssorSlider$("slider2_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
            if (parentWidth) {
                jssor_slider1.$ScaleWidth(parentWidth - 0);
            }
            else
                window.setTimeout(ScaleSlider, 30);
        }

        function ScaleSlider2() {
            var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
            if (parentWidth) {
                jssor_slider2.$ScaleWidth(parentWidth - 0);
            }
            else
                window.setTimeout(ScaleSlider2, 30);
        }
        ScaleSlider();
        ScaleSlider2();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        $(window).bind("load", ScaleSlider2);
        $(window).bind("resize", ScaleSlider2);
        $(window).bind("orientationchange", ScaleSlider2);
        //responsive code end
    });

         </script>

         <script type="text/javascript">
    (function ($) {
        $.fn.countTo = function (options) {
            // merge the default plugin settings with the custom options
            options = $.extend({}, $.fn.countTo.defaults, options || {});

            // how many times to update the value, and how much to increment the value on each update
            var loops = Math.ceil(options.speed / options.refreshInterval),
            increment = (options.to - options.from) / loops;

            return $(this).each(function () {
                var _this = this,
                loopCount = 0,
                value = options.from,
                interval = setInterval(updateTimer, options.refreshInterval);

                function updateTimer() {
                    value += increment;
                    loopCount++;
                    $(_this).html(value.toFixed(options.decimals));

                    if (typeof (options.onUpdate) == 'function') {
                        options.onUpdate.call(_this, value);
                    }

                    if (loopCount >= loops) {
                        clearInterval(interval);
                        value = options.to;

                        if (typeof (options.onComplete) == 'function') {
                            options.onComplete.call(_this, value);
                        }
                    }
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,  // the number the element should start at
            to: 100,  // the number the element should end at
            speed: 1000,  // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,  // the number of decimal places to show
            onUpdate: null,  // callback method for every time the element is updated,
            onComplete: null,  // callback method for when the element finishes updating
        };
    })(jQuery);

    jQuery(function ($) {
        var userCount = Number(25677) + Number('@userCount');
        $('.userTimer').countTo({
            from: 0,
            to: userCount,
            speed: 1500,
            refreshInterval: 50,
            onComplete: function (value) {
                console.debug(this);
            }
        });
        $('.courseTimer').countTo({
            from: 0,
            to: '@courseCount',
            speed: 1500,
            refreshInterval: 50,
            onComplete: function (value) {
                console.debug(this);
            }
        });
        $('.certTimer').countTo({
            from: 0,
            to: 100,
            speed: 1500,
            refreshInterval: 50,
            onComplete: function (value) {
                console.debug(this);
            }
        });
    });
         </script>

         <!--Blur Effect-->
         @*<link href="~/Blur/css/style.css" rel="stylesheet" />
         <script src="~/Content/assets/js/ace/elements.typeahead.js"></script>
         <script src="~/Content/assets/js/typeahead.jquery.js"></script>*@
         @*<script type="text/javascript">
             var courseList = [];
             $(function () {

                 var $container = $('#ib-container'),
                     $articles = $container.children('article'),
                     timeout;

                 $articles.on('mouseenter', function (event) {

                     var $article = $(this);
                     clearTimeout(timeout);
                     timeout = setTimeout(function () {

                         if ($article.hasClass('active')) return false;

                         $articles.not($article.removeClass('blur').addClass('active'))
                             .removeClass('active')
                             .addClass('blur');

                     }, 65);

                 });

                 $container.on('mouseleave', function (event) {

                     clearTimeout(timeout);
                     $articles.removeClass('active blur');
                 });

             });

             $('#search').typeahead({
                 hint: true,
                 highlight: true,
                 minLength: 1
             }, {
                     name: 'course',
                     displayKey: 'value',
                     source: substringMatcher(getCourse())
                 });
             function getCourse() {
                 var bindCourseList = [];
                 $.ajax({
                     type: "POST",
                     async: true,
                     data: "",
                     contentType: 'application/json; charset=utf-8',
                     url: "/Course/GetCourses",
                     success: function (response) {
                         for (var i = 0; i < response.length; i++) {
                             courseList.push({ cid: response[i][0].Value, cname: response[i][1].Value });
                             var courseName = response[i][0].Value;
                             bindCourseList.push(courseName);
                         }
                         return bindCourseList;
                     },
                     error: function (response) {
                         localStorage.clear();
                     }
                 });

                 return bindCourseList;
             }


         </script>*@
         @*<style type="text/css">
             div.input-group > .twitter-typeahead {
                 width: 100% !important;
             }

             .input-group .form-control {
                 float: none !important;
             }

             div.tt-dataset-course {
                 margin-left: 1% !important;
                 margin-top: 1% !important;
             }

             span .tt-dropdown-menu {
                 position: absolute;
                 top: 100%;
                 left: 0px;
                 z-index: 100;
                 display: none;
                 right: none !important;
                 color: black;
                 margin-top: 0.4%;
                 width: 100%;
                 text-align: left;
                 background-color: white !important;
             }
         </style>
         <script src="~/Content/assets/js/bootbox.js"></script>*@
         <script>
    var APP_ID = "806929762735402";
    // Facebook Deveoper account: Archana
    //var APP_ID = "389441631447093";

    window.fbAsyncInit = initFacebook;

    function initFacebook() {
        FB.init({
            appId: APP_ID,
            status: true, // check login status
            cookie: false, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        FB.getLoginStatus(onFacebookLoginStatus);
    };

    function onFacebookLoginStatus(response)
    {
        //nothing to do
    }

    (function () {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());

    function postToWallUsingFBUi(name, price, desc, courseId, imgName) {

        var picUrl = '';
        if (imgName != '178x100_2.png') {
            picUrl = 'https://www.millionlights.org/Images/CourseImg/' + courseId + '/' + imgName;
        }
        else {
            picUrl = 'https://www.millionlights.org/Images/noimage378X225.png';
        }

        // Done by Archana
        var path = 'https://www.millionlights.org/Course/AboutCourse?id=' + courseId;
        var data =
        {
            // Done by Archana
            //method: 'stream.publish',
            method: 'feed',
            message: "Posted using FB.ui and picture.",
            display: 'iframe',
            caption: desc,
            name: name,
            picture: picUrl,
            link: "https://www.millionlights.org",
            redirect_uri : path,
            description: price,
            actions: [{ name: 'action_links text!', link: 'https://www.millionlights.org' }]
        }
        FB.ui(data, onPostToWallCompleted);
    }

    function onPostToWallCompleted(response) {
        if (response) {
            if (response.error) {
                bootbox.dialog({
                    message: response.error.message,
                    buttons: {
                        "success": {
                            "label": "OK",
                            "className": "btn-sm btn-primary"
                        }
                    }
                });
            }
            else {
                if (response.id) {
                    bootbox.dialog({
                        message: "Shared the course successfully",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }
                else if (response.post_id) {
                    bootbox.dialog({
                        message: "Shared the course successfully",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }
                else {
                    bootbox.dialog({
                        message: "OOPs, Sharing failed. Please try again.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }

            }
        }
        else {
            // user cancelled
            bootbox.dialog({
                message: "Posting has been cancelled.",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }
    }
    // Use the API call wrapper to share content on LinkedIn
    function shareContent(pcontent) {
        IN.API.Raw("/people/~/shares?format=json")
        .method("POST")
        .body(pcontent)
        .result(onSuccess)
        .error(onError);

    }
    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        alert("Post Successful!");
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
        alert("Oh no, something went wrong. Check the console for an error log.");
    }
    function ShareOnLinkedIn() {
        var postcontent = {
            "comment": "Check out millionlights.org!",
            "content": {
                "title": "LinkedIn Developers Resources",
                "description": "Leverage LinkedIn's APIs to maximize engagement",
                "submitted-url": "https://www.millionlights.org",
                "submitted-image-url": "https://example.com/logo.png"
            },
            "visibility": {
                "code": "anyone"
            }
        }
        postcontent = JSON.stringify(postcontent);
        shareContent(postcontent);
        //});
    }
    function ShareOnLinkedIn1(shareUrl,name,shortDesc) {
        var url='https://www.linkedin.com/cws/share?mini=true&url='+shareUrl+'&title='+name+'&summary='+shortDesc+'&source=Millionlights';
        location.href=url;
    }

    function ShareOnLinkedIn(name, shortDesc) {
        var shareUrl = window.location.protocol + "//" + window.location.host + "/Course/AboutCourse/" + encodeURI(name) + "/";
        var url='https://www.linkedin.com/cws/share?mini=true&url='+shareUrl+'&title='+name+'&summary='+shortDesc+'&source=Millionlights';
        location.href=url;
    }

    function CourseEmailText(cID, name) {
        $.ajax({
            url: '@Url.Action("GetCourseEmailext", "Home")',
            type: 'GET',
            cache: false,
            data: "courseId=" + cID + "&courseName=" + name,
            success: function (emailText) {
                var mailto_link = 'mailto:' + '?subject=' + encodeURIComponent(name) + '&body=' + encodeURIComponent(emailText);
                window.location.assign(mailto_link);
            },
            error: function () {
            }
        });
    }

    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", function() {onLinkedInLogin();});
        IN.Event.on(IN, "logout", function() {onLinkedInLogout();});
    }
    function onLinkedInLogin() {
        IN.API.Profile("me")
            .fields(["id", "firstName", "lastName", "pictureUrl", "publicProfileUrl", "emailAddress"])
            .result(function(result) {
                ShareOnLinkedIn();
            })
            .error(function(err) {
                alert(err);
            });
    }
         </script>
