<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MillionLightDbConnectionString1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;User ID=mlazure;Password=test12!@" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MillionLightDbConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;User ID=mlazure;Password=test12!@;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MillionLightDbConnectionString2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;Persist Security Info=True;User ID=mlazure;Password=test12!@" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MillionLightDbConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;User ID=mlazure;Password=test12!@;Persist Security Info=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MillionLightDbConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;User ID=mlazure;Password=test12!@" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MillionLightDbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=e8p7xyitbf.database.windows.net,1433;Initial Catalog=MillionLightDb_PD;User ID=mlazure;Password=test12!@;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MillionLight" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Millionlights.Models.MillionlightsContext, Millionights.Models" MigrationConfiguration="Millionlights.Migrations.Configuration, Millionights.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MillionLight-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MillionLightDbConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MillionLightDbConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MillionLightDbConnectionString2-Web.config Connection String" />
  </ItemGroup>
</Project>