@{
    ViewBag.Title = "SearchExamCenters";
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/learn/css/color_scheme.css" rel="stylesheet" />
<script src="~/Content/learn/js/jquery-1.10.2.min.js"></script>
<section id="main_content">
    <div @*class="container"*@>
        <div class="row">
            <h3>The conents of Search Exam Center will appear here....</h3>
            </div>
        </div>
    </section>

