
<iframe src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/Millionlights&amp;width=335&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=500" class="iframeCustom"></iframe>

@*<div class="fbUpdate">

    <div class="fbHeadBcolor">Find us on facebook</div>
    <div>
        <div class="fb-like" data-href="https://www.facebook.com/Millionlights/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div>
        <div class="fb-post" data-href="https://www.facebook.com/Millionlights/" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://en-gb.facebook.com/FacebookDevelopers/posts/10151471074398553"><p>Be the first to know when we release a new video by subscribing to our official Facebook Developers YouTube channel!  http://www.youtube.com/facebookdevelopers</p>Posted by <a href="https://www.facebook.com/FacebookDevelopers">Facebook Developers</a> on <a href="https://en-gb.facebook.com/FacebookDevelopers/posts/10151471074398553">Wednesday, 29 May 2013</a></blockquote></div></div>
    </div>
    ​<div id="fb-root">
         <div class="fb-like" data-href="https://www.facebook.com/Millionlights/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
</div>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=806929762735402";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
   
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=1567084583549859";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>*@

