@*<div id="LoginModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content modalPopup">

            <div class="col-md-12 col-sm-6">

                <div id="login">

                    <p class="popupLabel text-center">

                        <b>Please enter your login credentials</b>​<button class="close" style="color: white; opacity: 1; margin-right: 10px;" type="button" data-dismiss="modal">×</button>@*<img src="img/login_logo.png" alt="" class="poupClosebtn">
                    </p>

                    <hr class="hrtagMargin">
                    <form action="/Account/ExternalLogin" method="post">
                        <div id="mediaSection">
                            <div class="media">
                                <ul id="follow_us" class="followus">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class=" icon-google"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-windows"></i></a></li>
                                </ul>
                                </div>
                                </div>
                                <div class="oauthBtn col-sm-6 login_social">
                                    <a href="#" class="btn btn-primary btn-block"><i class="icon-facebook"></i>Gmail</a>
                                </div>
                                <div class="oauthBtn col-sm-6 login_social">
                                    <a href="#" class="btn btn-info btn-block "><i class="icon-twitter"></i>Link-in</a>
                                </div>
                                <div class="oauthBtn col-sm-6 login_social">
                                    <a href="#" class="btn btn-primary btn-block"><i class="icon-facebook"></i> Live</a>
                                </div>
                                @*<section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                            </div> <!-- end row -->
                        <div class="oauthRow row">
                            @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml")
                        </div>

                        <div class="login-or"><hr class="hr-or"><span class="span-or">or</span></div>

                        <div class="form-group formGroupCustom">

                            <img alt="Logo" src="~/Content/learn/img/Millionlightstext.png" style="margin-left: 20%;">

                        </div>

                        <div class="form-group formGroupCustom">

                            <input id="UserLoginName" type="text" class=" form-control formControlCustom" placeholder="Username">

                            <span class="input-icon"><i class=" icon-user"></i></span>

                        </div>

                        <div class="form-group formGroupCustom" style="margin-bottom:5px;">

                            <input id="UserPaddword" type="password" class=" form-control formControlCustom" placeholder="Password" style="margin-bottom:5px;">

                            <span class="input-icon"><i class="icon-lock"></i></span>

                        </div>

                        <div class="form-group formGroupCustom" style="margin-bottom:5px;">

                            <label class="colorRed" id="lblPwdError"></label>

                        </div>

                        <div class="small forgotPwd form-group formGroupCustom" style="margin-bottom:5px;">

                            <a href="#">Forgot Password?</a>

                        </div>

                        <div class="txtCenter">

                            <a id="btnLoginClick" href="#" class="button_top btnSize">Log in</a>

                            <a href="UserRegister/UserRegister" class="button_top btnSize">Register</a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>*@
@*<section id="login_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                    <p class="text-center">
                        <img src="img/login_logo.png" alt="">
                    </p>
                    <hr>
                    <form action="/Account/ExternalLogin" method="post">
                        @*<div class="row">
                            <div class="col-md-6 col-sm-6 login_social">
                                <a href="#" class="btn btn-primary btn-block"><i class="icon-facebook"></i> Facebook</a>
</div>
                            <div class="col-md-6 col-sm-6 login_social">
                                <a href="#" class="btn btn-info btn-block "><i class="icon-twitter"></i>Twitter</a>
                            </div>
                        </div><!-- end row -->
                        <div class="oauthRow row">
                            @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml")
                        </div>
                        <div class="login-or"><hr class="hr-or"><span class="span-or">or</span></div>

                        <div class="form-group">
                            <input type="text" class=" form-control " placeholder="Username">
                            <span class="input-icon"><i class=" icon-user"></i></span>
                        </div>
                        <div class="form-group" style="margin-bottom:5px;">
                            <input type="text" class=" form-control" placeholder="Password" style="margin-bottom:5px;">
                            <span class="input-icon"><i class="icon-lock"></i></span>
                        </div>
                        <p class="small">
                            <a href="#">Forgot Password?</a>
                        </p>
                        <a href="#" class="button_fullwidth">Log in</a>
                        <a href="register.html " class="button_fullwidth-2">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>*@ <!-- End login -->





