@using Millionlights.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "_MainFooter";
    List<ShortCourse> allCourses = (List<ShortCourse>)Session["AllCourses"];
    var count = 0;
    var userName = Session["UserName"];
    var userid = Session["UserID"];
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
}

@if (roleID != 2)
{

    <footer class="footer">
        @if (userName == null)
        {          
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="widget-title">
                                <h4>About</h4>
                            </div><!-- end widget-title -->
                            <p>Suspendisse non augue tincidunt, ullaorper odio vel, tempor risus. In cursus lacus mattis consectetur.</p>
                            <ul class="contact-details">
                                <li><i class="fa fa-map-marker"></i> 2 AlBahr St, Tanta, AlGharbia, Egypt.</li>
                                <li><i class="fa fa-phone"></i> +2 01065370701</li>
                                <li><i class="fa fa-envelope"></i> 7oroof@7oroof.com</li>
                            </ul><!-- end contact-details -->
                        </div><!-- end widget -->
                    </div><!-- end col -->


                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget-title">
                                <h4>Popular Tags</h4>
                            </div><!-- end widget-title -->
                            <div class="tagcloud">
                                <a href="#">Responsive</a>
                                <a href="#">Modern</a>
                                <a href="#">Coursat HTML</a>
                                <a href="#">Fresh</a>
                                <a href="#">Corporate</a>
                                <a href="#">Creative</a>
                            </div><!-- end tagline -->
                        </div><!-- end widget -->

                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget-title">
                                <h4>Follow Us</h4>
                            </div><!-- end widget-title -->
                            <ul class="social">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="widget-title">
                                <h4>Latest Tweets</h4>
                            </div><!-- end widget-title -->
                            <ul class="latest-tweets">
                                <li>
                                    <span>2 hours ago</span>
                                </li>
                                <li>
                                    <span>2 hours ago</span>
                                </li>
                            </ul><!-- end latest-course -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        }
        @*<script src="~/Content/assets/js/bootbox.js"></script>*@
        <script type="text/javascript">
            function CustomersQuery() {
                var queryEmail = $('#email_newsletter').val();
                var fullName = '';
                var message = '';
                if (queryEmail != "") {
                    if (isEmail(queryEmail) == false) {
                        bootbox.dialog({
                            message: "Please enter valid email id.",
                            buttons: {
                                "success": {
                                    "label": "OK",
                                    "className": "btn-sm btn-primary",
                                    callback: function () {
                                    }
                                }
                            }
                        });
                        return false;
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            async: false,
                            data: JSON.stringify({ "queryEmail": queryEmail, "fullName": fullName, "message": message, "phoneNumber": null }),
                            contentType: 'application/json; charset=utf-8',
                            url: "/MarketingCampaign/CustomersQuery",
                            success: function (response) {
                                if (response == "true") {
                                    bootbox.dialog({
                                        message: "Thank you for showing the interest, we'll getback to you soon!",
                                        buttons: {
                                            "success": {
                                                "label": "OK",
                                                "className": "btn-sm btn-primary",
                                                callback: function () {
                                                    location.href = '/Home/Index';
                                                }
                                            }
                                        }
                                    });
                                }
                                else {
                                    bootbox.dialog({
                                        message: "Email could not be sent due to some problems. Please try later.",
                                        buttons: {
                                            "success": {
                                                "label": "OK",
                                                "className": "btn-sm btn-primary",
                                                callback: function () {
                                                    location.href = '/Home/Index';
                                                }
                                            }
                                        }
                                    });
                                }
                            },
                            error: function (response) {
                                bootbox.dialog({
                                    message: "Email could not be sent due to some problems. Please try later.",
                                    buttons: {
                                        "success": {
                                            "label": "OK",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                                location.href = '/Home/Index';
                                            }
                                        }
                                    }
                                });
                            }
                        });
                    }

                }
                else {
                    bootbox.dialog({
                        message: "Please provide an email.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                }
                return false;
            }
            function isEmail(emailid) {
                var emailRegex = "^[-!#$%&'*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&'*+/0-9=?A-Z^_a-z{|}~])*@@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$";
                if (!emailid.match(emailRegex)) {
                    return false;
                }
                else {
                    return true;
                }
            }
        </script>
    </footer>

}
<div id="toTop">Back to top</div>
