
@{
    ViewBag.Title = "_Subscribe";
    
}

<div class="container" >
    <div class="row">
        <div class="bgcolor-div">

            <h3 class="subscribe-title">Subscribe to our Course and Content.</h3>
            <p></p>
            <div id="message-newsletter">
            </div>
            <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter">
                <div class="row">
                    <div class="col-sm-4 col=-md-4">
                        <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col=-md-3 subscribe-newsletterBtn">
                        <input type="button" value="Subscribe" class="btnCreateCourse" id="submit-newsletter" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

